<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Job automation</title>
    <link rel="stylesheet" href="../static/output.css">
</head>
<body class="bg-gray-900 text-white">

    <header class="py-6 px-8">
        <div class="text-center">
            <h1 class="text-3xl font-bold">Job Research App</h1>
        </div>          
    </header>

    <main class="container mx-auto px-8 py-12">

        <div class ="container mx-auto text-center">
      
            <div class="bg-gray-900 text-white py-12">
                <div class="container mx-auto px-8">
                  <h2 class="text-3xl font-bold mb-8 text-center">Que souhaitez-vous faire ?</h2>
                  <div class="mb-6">
                    <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Se connecter pour voir les jobs correspondant à vos critères</a>
                  </div>
                  <div class="mb-6">
                    <a href="/register" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Créer un utilisateur</a>
                  </div>
                </div>
            </div>
              
        </div>
    </main>

</body>
</html>
